<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Project_1.Properties.Settings>
      <setting name="trainingPath" serializeAs="String">
        <value>C:\Users\Zain\source\repos\Project_2\test_data.csv</value>
      </setting>
      <setting name="conectionstring" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Seerat\Desktop\Project_2\Project_2\doctors_details.mdf;Integrated Security=True</value>
      </setting>
    </Project_1.Properties.Settings>
  </userSettings>
</configuration>